<section id="editForm" class="w-75 centered">
    <h2 class="m-t-32 m-b-32">Modifier l'article</h2>
    <form method="post" action="/editArticle">
        <div class="bo4 of-hidden size15 m-b-20">
            <input class="sizefull s-text7 p-l-22 p-r-22" type="text" name="code" placeholder="Code" value="{{snow.code}}" required>
        </div>

        <div class="bo4 of-hidden size15 m-b-20">
            <input class="sizefull s-text7 p-l-22 p-r-22" type="text" name="brand" placeholder="Marque" value="{{snow.brand}}" required>
        </div>

        <div class="bo4 of-hidden size15 m-b-20">
            <input class="sizefull s-text7 p-l-22 p-r-22" type="text" name="model" placeholder="Modèle" value="{{snow.model}}" required>
        </div>

        <div class="bo4 of-hidden size15 m-b-20">
            <input class="sizefull s-text7 p-l-22 p-r-22" type="number" min="0" name="snowLength"
                  value="{{snow.snowLength}}" placeholder="Longueur en cm" required>
        </div>

        <div class="bo4 of-hidden size15 m-b-20">
            <input class="sizefull s-text7 p-l-22 p-r-22" type="number" min="0" name="qtyAvailable"
                   value="{{snow.qtyAvailable}}" placeholder="Quantité disponible" required>
        </div>

        <div class="bo4 of-hidden size15 m-b-20">
            <input class="sizefull s-text7 p-l-22 p-r-22" type="text" name="description"
                   value="{{snow.description}}" placeholder="Description" required>
        </div>

        <div class="bo4 of-hidden size15 m-b-20">
            <input class="sizefull s-text7 p-l-22 p-r-22" type="number" name="dailyPrice"
                   value="{{snow.dailyPrice}}" placeholder="Prix journalier" required>
        </div>

        <div class="bo4 of-hidden size15 m-b-20">
            <input class="sizefull s-text7 p-l-22 p-r-22" type="number" min="0" max="1" name="active"
                   value="{{snow.active}}" placeholder="Actif" required>
        </div>

        <div class="bo4 of-hidden size15 m-b-20">
            <input class="sizefull s-text7 p-l-22 p-r-22" type="file" name="photo">
        </div>

        <input type="submit" value="Modifier" class="flex-c-m size2 bg4 bo-rad-23 hov1 m-text3 trans-0-4 w-size12"><br>
        <input type="reset" value="Annuler" class="flex-c-m size2 bg4 bo-rad-23 hov1 m-text3 trans-0-4 w-size12">

    </form>

</section>