<style>
    table th {
        padding-right: 32px;
    }

    table * {
        border: black 2px solid;
    }

    table {
        text-align: center;
    }

</style>
<table>
    <tr>
        <th>id</th>
        <th>code</th>
        <th>model</th>
        <th>snowLength</th>
        <th>qtyAvailable</th>
        <th>dailyPrice</th>
        <th>photo</th>
        <th>active</th>
    </tr>
    {{#each snows}}
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.code}}</td>
            <td>{{this.model}}</td>
            <td>{{this.snowLength}}</td>
            <td>{{this.qtyAvailable}}</td>
            <td>{{this.dailyPrice}}</td>
            <td>{{this.photo}}</td>
            <td>{{this.active}}</td>
        </tr>
    {{/each}}
</table>