<style>
    table th {
        padding-right: 32px;
    }


    table {
        text-align: center;
    }

    td {
        padding: 4px;
        border: 2px black solid;
    }

</style>
<table>
    <tr>
        <th>id</th>
        <th>code</th>
        <th>model</th>
        <th>snowLength</th>
        <th>qtyAvailable</th>
        <th>dailyPrice</th>
        <th>photo</th>
        <th>active</th>
        <th>Delete</th>
        <th>Edit</th>
    </tr>
    {{#each snows}}
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.code}}</td>
            <td>{{this.model}}</td>
            <td>{{this.snowLength}}</td>
            <td>{{this.qtyAvailable}}</td>
            <td>{{this.dailyPrice}}</td>
            <td>{{this.photo}}</td>
            <td>{{this.active}}</td>
            <td>
                <form action="/delete/{{this.id}}" method="post"><input type="submit" value="Supprimer"></form>
            </td>
            <td>
                <form action="/gestion/edit/{{this.id}}" method="get"><input type="submit" value="Modifier"></form>
            </td>
        </tr>
    {{/each}}
</table>
<div>{{message}}</div>